body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px }
a {  color:blue;  cursor:hand; }
h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000; background-color: #CCCCCC}
h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000; background-color: #AAAAFF}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px;  color: #000000; background-color: #CCCCCC}
