## used to debug...
## $logger.log2File("/tmp/vpp.log")

public class foo {

    public static void main(String args[]) {
      System.out.println("${db.localized.fetch(['welcome','en']).string}");
    }

}
