<html>
<head>
<title>The Bookstore Sample</title>
</head>
<body>
##not needed with autofetching : 
##if($query.book_id) #set( $book = $db.book.fetch($query.book_id) ) #end

#if($book)
<h2>Edit book</h2>
#else
<h2>Add book</h2>
#end
<ul>
<form method="post" action="./book_commit.vm">
<input type="hidden" name="book_id" value="$!book.book_id">
<li>Title : <input type="text" name="title" value="$!book.title">
<li>Author :
  <select name="author_id">
  #set( $db.author.order = "last_name" )
    <option value="0" #if(!$query.book_id) selected #end>choose author</option>
  #foreach($author in $db.author)
    <option value="$author.author_id" #if($book && $book.author_id == $author.author_id) selected #end>$!author.full_name</option>
  #end
  </select>
<li>Publisher :
  <select name="publisher_id">
  #set( $db.publisher.order = "name" )
    <option value="0" #if(!$query.book_id) selected #end>choose publisher</option>
  #foreach($publisher in $db.publisher)
    <option value="$publisher.publisher_id" #if($book && $book.publisher_id == $publisher.publisher_id) selected #end>$publisher.name</option>
  #end
  </select>
<li>ISBN Code : <input type="text" name="isbn" value="$!book.isbn">
</ul>
<input type="submit" value="Ok">
</form>
</body>
</html>
