<html>
<head>
<title>The Bookstore Sample</title>
</head>
<body>
<h2>Welcome to the bookstore !</h2>

#if($query.by_publisher)
  #if($publisher)
    <p>Books published by <b>$publisher.name</b> :</p>
    <ul>
    #foreach($book in $publisher.books)
      <li><b>$book.title</b> by <i>$book.author.full_name</i> (ISBN $book.isbn) [<a href="./book_form.vm?book_id=$book.book_id">edit</a>] [<a href="./book_delete.vm?book_id=$book.book_id" onClick="return confirm('Are you sure ?')">delete</a>]
    #end
    </ul>
  #else
    <p>Publishers :</p>
    <ul>
    #foreach($publisher in $db.publisher)
      <li><b>$publisher.name</b> [<a href="./index.vm?by_publisher=1&publisher_id=$publisher.publisher_id">see books</a>] [<a href="./publisher_form.vm?publisher_id=$publisher.publisher_id">edit</a>] [<a href="./publisher_delete.vm?publisher_id=$publisher.publisher_id" onClick="return confirm('Are you sure ?')">delete</a>]
    #end
    </ul>
  #end
[<a href="./index.vm">home</a>]
#elseif($query.by_author)
  #if($author)
    <p>Books written by <b>$author.full_name</b> :</p>
    <ul>
    #foreach($book in $author.books)
      <li><b>$book.title</b> by <i>$book.author.full_name</i> (ISBN $book.isbn) [<a href="./book_form.vm?book_id=$book.book_id">edit</a>] [<a href="./book_delete.vm?book_id=$book.book_id" onClick="return confirm('Are you sure ?')">delete</a>]
    #end
    </ul>
  #else
    <p>Authors :</p>
    <ul>
    #foreach($author in $db.author)
      <li><b>$author.full_name</b> [<a href="./index.vm?by_author=1&author_id=$author.author_id">see books</a>] [<a href="./author_form.vm?author_id=$author.author_id">edit</a>] [<a href="./author_delete.vm?author_id=$author.author_id" onClick="return confirm('Are you sure ?')">delete</a>]
    #end
    </ul>
  #end
[<a href="./index.vm">home</a>]
#else
  <p>We have $db.books_nb books in stock.</p>
  <p>You can browse the books [<a href="./index.vm?by_publisher=1">by publisher</a>] or [<a href="./index.vm?by_author=1">by author</a>].</p>
  <p>You can also :</p>
    <ul>
      <li>[<a href="./publisher_form.vm">add a new publisher</a>]
      <li>[<a href="./author_form.vm">add a new author</a>]
      <li>[<a href="./book_form.vm">add a new book</a>]
    </ul>
#end

</body>
</html>
