## please note than in a strict MVC design pattern, modifications should NOT be triggered from inside templates
## but rather by an assermented controller object !!!

<html>
<head>
<title>The Bookstore Sample</title>
</head>
<body>
#if($query.book_id.length() > 0)
  #set($success = $db.book.update($query))
#else
  ## automatic id generation is not standardized among DBMS
  ## here we'll use random numbers
  ## and obfuscate it, since it will be deobfuscated...
  #set($query.book_id = $db.obfuscate($random.nextInt()))
  #set($success = $db.book.insert($query))
#end

#if($success)
  Operation successfull.
#else
  Error encountered : $db.error
#end
<br>
[<a href="./index.vm">home</a>]
</body>
</html>
