## please note than in a strict MVC design pattern, modifications should NOT be triggered from inside templates
## but rather by an assermented controller object !!!

<html>
<head>
<title>The Bookstore Sample</title>
</head>
<body>
#set($success = $db.book.delete($query))
#if($success == 1)
  Operation successfull.
#else
  Error encountered : $db.error
#end<br>
[<a href="./index.vm">home</a>]
</body>
</html>
