<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>velocity</servlet-name> 
    <servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
    <init-param>
      <param-name>org.apache.velocity.toolbox</param-name> 
      <param-value>/WEB-INF/toolbox.xml</param-value> 
    </init-param>
    <init-param>
      <param-name>org.apache.velocity.properties</param-name> 
      <param-value>/WEB-INF/velocity.properties</param-value> 
    </init-param>
    <init-param>
      <param-name>velosurf.config</param-name> 
      <param-value>/WEB-INF/velosurf.xml</param-value> 
    </init-param>
    <load-on-startup>10</load-on-startup> 
  </servlet>

<servlet-mapping>
  <servlet-name>velocity</servlet-name> 
  <url-pattern>*.vm</url-pattern> 
</servlet-mapping>

<welcome-file-list>
  <welcome-file>index.vm</welcome-file> 
</welcome-file-list>

</web-app>
