<html>
<head><title>Basic tests</title></head>
<body>
Basic tests
<br>
Fetch a publisher by key<br>
#set($publisher = $db.publisher.fetch($db.obfuscate(1)))
<div id="test1">$publisher.name</div>
<br>
<br>
Foreach on books:
<ul>
#foreach($book in $publisher.books)
<li><div id="test2.$velocityCount">$book.title</div></li>
#end
</ul>
<br>
<br>
Fetch a book<br>
#set($book = $db.book.fetch($db.obfuscate(1)))
title: <div id="test3">$book.title</div>
<br>
author: <div id="test4">$book.author.full_name</div>
</body>
