<html>
<head>
<title>insertion</title>
</head>
<body>
#set($user = $db.user.newInstance())
#set($user.login = "John")
#set($user.password = "Secret")
#set($ok = $user.insert())
<div id="result">#if(!$ok)ERROR:$db.error#else $user.id#end</div>
</body>
</html>
