<html>
<head>
<title>Input form</title>
</head>
<body>
#set($errors = $db.validationErrors)
#if($errors)
  <font color='red'>Errors:
  <ul>
  #foreach($error in $errors)
    <li><div id="$velocityCount">$error</div>
  #end
  </ul>
  </font>
#end
<form name='input' action='goodvalues.html'>
<input type="hidden" name="velosurf.entity" value="validation">
<input type="text" name="string" value="$!validation.string">
<input type="text" name="string2" value="$!validation.string2">
<input type="text" name="number" value="$!validation.number">
<input type="text" name="oneof" value="$!validation.oneof">
<input type="text" name="mydate" value="$!validation.mydate">
<input type="text" name="email" value="$!validation.email">
<input type="text" name="email2" value="$!validation.email2">
<input type="text" name="book_id" value="$!validation.book_id">
<input type="submit" value="Ok">
</form>
</body>
</html>
